# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science Tools

## Author
Marielle Adam

Some of the popular languages that Data Scientists use are:
1. Python
2. R statistical language
3. Julia
4. Java 
5. C/C++
6. MATLAB
7. ...

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

|Data Science Tools|
|------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
def min2hours(minutes):
     return minutes / 60
print(min2hours(200))

3.3333333333333335